body {
  background: #f8f9fa;
}

h1 {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  background: #fff;
  padding: 20px 0;
}

.form-label {
  font-size: .9rem;
}

.btn {
  padding: 10px;
}

header {
  text-align: center;
  background: #000;
  color: #fff;
  padding: 10px 0;
}

.table {
  background: #fff;  
}